@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/notion.css" rel="stylesheet" />
<style>
    .page{
        margin:50px;
    }
</style>

<div class="container-fluid content-area py-4">
    <div class="row">
        <!-- 側邊導覽欄 -->
        <nav class="custom-sidebar sidebar-fixed col-md-3 col-lg-2 d-md-block bg-light">
            <div class="position-sticky pt-3" style="margin-top:100px;">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#section-diplomacy">外交：布置 交通 服儀</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section-arrangement">布置</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section-traffic">交通</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section-dress">服儀</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section-reception">接待規劃：規劃 預算 分工</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section-reception-example">接待規劃(範例)</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- 主要內容區 -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <article id="2212febb-9950-8048-b42d-fa0bdba8b1c6" class="page sans">
                <header>
                    <h1 class="page-title">國際交流實務 - 中韓</h1>
                    <p class="page-description"></p>
                </header>
                <div class="page-body">
                    <p id="2212febb-9950-80e5-b920-cb42dc995730" class="">講師: 林佳港</p>
                    <figure id="2212febb-9950-8027-9ff1-d1366bf559df" class="image">
                        <a href="%E6%B4%BB%E5%8B%95%E6%B5%B7%E5%A0%B1.jpg">
                            <img style="width:432px" src="~/images/國際交流實務/活動海報.jpg" />
                        </a>
                    </figure>

                    <h1 id="section-diplomacy" class="mt-5">外交：布置 交通 服儀</h1>
                    <h2 id="section-diplomacy-sub" class="">外交</h2>
                    <blockquote id="2212febb-9950-804c-9207-fc291eecaaa9" class="">
                        我國政府在外交政策上以「總合外交」策略實踐「價值外交」理念與「經濟日不落國」願景，積極以「主」、「和平」與「繁榮」3大支柱拓展合作及深化夥伴關係，與友邦及理念相近國家互惠共榮，發揮臺灣做為印太地區穩定繁榮的關鍵力量。<br />-外交部<br />
                    </blockquote>

                    <h2 id="section-arrangement" class="mt-5">布置</h2>
                    <figure id="2212febb-9950-8086-b16c-ff9019005cc3" class="image">
                        <a href="%E5%B8%83%E7%BD%AE.jpg">
                            <img style="width:432px" src="~/images/國際交流實務/布置.jpg" />
                        </a>
                    </figure>
                    <figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex" id="2212febb-9950-80d8-8c11-c360e3d1111a">
                        <div style="font-size:1.5em"><span class="icon">💡</span></div>
                        <div style="width:100%"><p id="2212febb-9950-8049-b768-e14c5adc5035" class="">主人的旗幟在右邊，客人的旗幟在左邊</p></div>
                    </figure>
                    <figure id="2212febb-9950-8010-b16a-cb5034429150" class="image">
                        <a href="%E5%B8%83%E7%BD%AE2.jpg">
                            <img style="width:432px" src="~/images/國際交流實務/布置2.jpg" />
                        </a>
                    </figure>
                    <div id="2212febb-9950-80ac-9d34-c2b6bec7f75d" class="transcription">
                        <div style="border-bottom:0.05em solid;border-bottom-color:rgba(55,53,47,.06)">摘要<br /></div>
                        <p id="2212febb-9950-8141-8f20-f85e57f8e5e3" class="">本次會議討論了在韓國舉行的正式活動的協議安排，特別是關於座位安排和嘉賓邀請流程。</p>
                        <h3 id="2212febb-9950-8119-a56e-cf5bc30fc4cb" class="">座位安排</h3>
                        <ul id="2212febb-9950-812c-a25f-fdec05472397" class="bulleted-list"><li style="list-style-type:disc">現任會長與前任會長將坐在會長桌</li></ul>
                        <ul id="2212febb-9950-812e-a28d-c6e811ddf901" class="bulleted-list"><li style="list-style-type:disc">與會者將按階級順序就座，第二和第三順位的人員位置較後</li></ul>
                        <h3 id="2212febb-9950-81e9-94c3-d44ed92dd9ca" class="">嘉賓邀請流程</h3>
                        <ul id="2212febb-9950-81fa-84a2-c83cb389e711" class="bulleted-list"><li style="list-style-type:disc">演講嘉賓將由不同人員邀請</li></ul>
                        <ul id="2212febb-9950-8100-ab31-d54b7a95fd87" class="bulleted-list"><li style="list-style-type:disc">本次活動由會長親自邀請</li></ul>
                        <ul id="2212febb-9950-81f2-9ca1-f4e3497efda9" class="bulleted-list"><li style="list-style-type:disc">如果會長支付費用，可能使用特定方法</li></ul>
                        <ul id="2212febb-9950-817b-a6b1-fd56e60ad7e5" class="bulleted-list"><li style="list-style-type:disc">過去曾邀請韓國當地年長的警官作為嘉賓，安排在前排與會長同坐</li></ul>
                        <h3 id="2212febb-9950-8157-a471-ceea9514b943" class="">規劃責任</h3>
                        <ul id="2212febb-9950-8101-a708-db21ad240138" class="bulleted-list"><li style="list-style-type:disc">在規劃過程中需明確界定誰負責各項安排</li></ul>
                        <ul id="2212febb-9950-81be-a4b9-d6dab422a262" class="bulleted-list"><li style="list-style-type:disc">座位順序的確定需要特別注意</li></ul>
                        <div style="border-bottom:0.05em solid;border-bottom-color:rgba(55,53,47,.06)">筆記<br /></div>
                        <p id="2212febb-9950-8091-b307-d019975393a3" class=""></p>
                      </div>

                    <h2 id="section-traffic" class="mt-5">交通</h2>
                    <figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex" id="2212febb-9950-8068-9ae1-f69c38adb80f">
                        <div style="font-size:1.5em"><span class="icon">💡</span></div>
                        <div style="width:100%">
                            <p id="2212febb-9950-80aa-9280-d72a860c117a" class="">需要安排專車接送</p>
                            <p id="2212febb-9950-8032-89ad-fd277f5f238a" class="">可以考慮插旗，行車途中會比較方便，警察也有可能協助開路</p>
                        </div>
                    </figure>
                    <figure id="2212febb-9950-8046-a8c4-e471a9190f8e" class="image">
                        <a href="%E4%BA%A4%E9%80%9A.jpg">
                            <img style="width:432px" src="~/images/國際交流實務/交通.jpg" />

                        </a>
                    </figure>
                    <figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex" id="2212febb-9950-803a-8d99-fb8d2b7a8ad4">
                        <div style="font-size:1.5em"><span class="icon">💡</span></div>
                        <div style="width:100%"><p id="2212febb-9950-80cd-bf5b-c3f2cfedafb0" class="">旗子主人(台灣)在右側，旗子客人(韓國)在左側</p></div>
                    </figure>
                    <figure id="2212febb-9950-8090-8d48-f1a931a00053" class="image">
                        <a href="%E4%BA%A4%E9%80%9A2.jpg">
                            <img style="width:432px" src="~/images/國際交流實務/交通2.jpg" />

                        </a>
                    </figure>

                    <h2 id="section-dress" class="mt-5">服儀</h2>
                    <figure id="2212febb-9950-80cb-be41-c675d908261a" class="image">
                        <a href="%E6%9C%8D%E5%84%80.jpg">
                            <img style="width:432px" src="~/images/國際交流實務/服儀.jpg" />

                        </a>
                    </figure>
                    <figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex" id="2212febb-9950-8050-a83f-f7af0f353717">
                        <div style="font-size:1.5em"><span class="icon">💡</span></div>
                        <div style="width:100%">
                            <ol type="1" id="2212febb-9950-8045-9591-d4a112cf703d" class="numbered-list" start="1"><li>男生以黑色西裝、燕尾服為主；女生以長裙包腳鞋為主</li></ol>
                            <ol type="1" id="2212febb-9950-8054-a00a-f2993776bf0f" class="numbered-list" start="2"><li>以長襪為主，不要露出膚(禮貌)</li></ol>
                            <ol type="1" id="2212febb-9950-8051-9caa-d1fec641d2d9" class="numbered-list" start="3"><li>站著扣西裝，坐下不用扣</li></ol>
                            <ol type="1" id="2212febb-9950-8008-9ea9-f728e494dc3f" class="numbered-list" start="4"><li>名片放置位置分會可以一致(左胸胸口、西裝內襯口袋)</li></ol>
                        </div>
                    </figure>

                    <h1 id="section-reception" class="mt-5">接待規劃：規劃 預算 分工</h1>
                    <figure id="2212febb-9950-803a-b756-cf6040843b03" class="image">
                        <a href="%E6%8E%A5%E5%BE%85.jpg">
                            <img style="width:432px" src="~/images/國際交流實務/接待.jpg" />
                        </a>
                    </figure>
                    <figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex" id="2212febb-9950-8039-b385-eb924d44c84a">
                        <div style="font-size:1.5em"><span class="icon">💡</span></div>
                        <div style="width:100%">
                            <p id="2212febb-9950-80f2-82a7-ffc08fb29ff5" class="">接待規劃</p>
                            <ul id="2212febb-9950-80ed-9b64-c9aa222fb027" class="bulleted-list"><li style="list-style-type:disc">主題活動?(50週年慶?交接?)</li></ul>
                            <ul id="2212febb-9950-8088-890a-c56a305c523c" class="bulleted-list"><li style="list-style-type:disc">對方要求?(去九份?看101?)</li></ul>
                            <ul id="2212febb-9950-8093-abe4-cbee174e4bbc" class="bulleted-list"><li style="list-style-type:disc">時間?</li></ul>
                            <ul id="2212febb-9950-80b1-b985-fbd7d2807c10" class="bulleted-list"><li style="list-style-type:disc">對方來幾位?(<mark class="highlight-red_background">誰要來</mark>) ⇒找同學</li></ul>
                            <ul id="2212febb-9950-8073-b733-e913e19d5367" class="bulleted-list"><li style="list-style-type:disc">預算?(誰出錢)</li></ul>
                        </div>
                    </figure>
                    <div>
                        <h3 id="section-reception-example" class="mt-5">落地招</h3>
                        <ul id="2212febb-9950-8058-992c-e09921213170" class="bulleted-list"><li style="list-style-type:disc">出機票</li></ul>
                        <ul id="2212febb-9950-80d4-84cb-f2a5afe5ffc6" class="bulleted-list"><li style="list-style-type:disc">提供住宿</li></ul>
                        <ul id="2212febb-9950-8058-8ea8-e2c2ec51347a" class="bulleted-list"><li style="list-style-type:disc">翻譯費用由招待方負擔</li></ul>
                        <h3 id="section-reception-other" class="">其他招待方式</h3>
                        <ul id="2212febb-9950-8080-9077-f60a4e6d321a" class="bulleted-list"><li style="list-style-type:disc">安排高級餐廳用餐 - <mark class="highlight-red_background">歷屆主席、會長認餐</mark></li></ul>
                        <ul id="2212febb-9950-801d-8370-f91d89a13d7d" class="bulleted-list"><li style="list-style-type:disc">提供專車接送服務 - <mark class="highlight-red_background">遊覽車</mark></li></ul>
                        <ul id="2212febb-9950-8070-b2b3-f59e78de4608" class="bulleted-list"><li style="list-style-type:disc">安排當地導覽與觀光行程</li></ul>
                        <ul id="2212febb-9950-808d-b390-d4a237c46f5d" class="bulleted-list"><li style="list-style-type:disc">提供紀念品或伴手禮</li></ul>
                        <ul id="2212febb-9950-8081-be7b-e62efa9b4e88" class="bulleted-list"><li style="list-style-type:disc">籌備專屬宴會或歡迎活動</li></ul>
                        <ul id="2212febb-9950-8050-918d-e857bcde662e" class="bulleted-list"><li style="list-style-type:disc">安排與當地重要人物的會面  - <mark class="highlight-red_background">同學、企業參訪</mark></li></ul>
                    </div>

                    <h2 id="section-reception-example" class="mt-5">接待規劃(範例)</h2>
                    <p id="2212febb-9950-8008-8eeb-fa495210e53d" class="">3天2夜<br />第一天<br />    • 接機<br />   • 歡迎宴<br />第二天<br />   • 白天活動(企業參訪)<br />   • 午餐<br />   • 活動<br />   • 歡送宴<br />第三天<br />   • 白天活動<br />   • 午餐<br />   • 送機(歡送會)<br /></p>
                    <figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex" id="2212febb-9950-80d6-a408-ca3246dc66e1">
                        <div style="font-size:1.5em"><span class="icon">💡</span></div>
                        <div style="width:100%">
                            <p id="2212febb-9950-80c3-b19f-d5724c4375e3" class="">分工</p>
                            <ul id="2212febb-9950-80de-bba4-c7122a739e23" class="bulleted-list"><li style="list-style-type:disc">核心工作團隊 - <mark class="highlight-red_background">安排專車、聯絡場地</mark></li></ul>
                            <ul id="2212febb-9950-802a-b007-ec64bdc18144" class="bulleted-list"><li style="list-style-type:disc">促進會友感情</li></ul>
                        </div>
                    </figure>
                    
                    <h2 id="section-reception-example" class="mt-5">實務演練</h2>
                    <p>規劃四天三夜行程</p>
                    <figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex" id="2212febb-9950-80d6-a408-ca3246dc66e1">
                        <a href="~/images/國際交流實務/實務演練.jpg">
                            <img style="width:432px" src="~/images/國際交流實務/實務演練.jpg" />
                        </a>
                    </figure>
                    
                    <h2 id="section-reception-example" class="mt-5">結業</h2>
                    <figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex" id="2212febb-9950-80d6-a408-ca3246dc66e1">
                        <a href="~/images/國際交流實務/峽青合照.jpg">
                            <img style="width:432px" src="~/images/國際交流實務/峽青合照.jpg" />
                        </a>
                    </figure>
                        <figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex" id="2212febb-9950-80d6-a408-ca3246dc66e1">
                        <a href="~/images/國際交流實務/大合照.jpg">
                            <img style="width:432px" src="~/images/國際交流實務/大合照.jpg" />
                        </a>
                    </figure>

                </div>
            </article>
            <span class="sans" style="font-size:14px;padding-top:2em"></span>
        </main>
    </div>
</div>
@section scripts{
    <script>
        // 平滑滾動
        document.querySelectorAll('a.nav-link[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                const target = document.querySelector(this.getAttribute('href'));
                if (target) {
                    window.scrollTo({
                        top: target.getBoundingClientRect().top + window.scrollY - 20,
                        behavior: 'smooth'
                    });
                }
            });
        });
    </script>
}
