@{
    ViewData["Title"] = "首頁";
}
<!-- Tobii Lightbox -->
<link href="~/css/tobii.min.css" rel="stylesheet" type="text/css" />

<!-- Hero Start -->
<section class="bg-half-170 d-table w-100">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-10 col-12">
                <div class="title-heading text-center">
                    <h2 class="display-4 fw-bold">三峽國際 <span class="text-primary">青年商會</span> <br> & <br> <span class="text-primary">峽青肆伍</span> 華昇鴻圖</h2>
                </div>
            </div><!--end col-->
            <div class="home-shape-arrow d-block">
                <a href="#works" class="mouse-down"><i class="mdi mdi-arrow-down arrow-icon text-center d-inline-block shadow bg-white rounded-circle text-dark h5"></i></a>
            </div>
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->


<!-- Portfolio Start -->
@* <section class="bg-half-260" data-jarallax='{"speed": 0.4}' style="background: url('/images/sanxiajci/新北好撞撞.jpg') center center;" id="works"> *@
<section class="bg-half-260" data-jarallax='{"speed": 0.4}' style="background: url('https://storage.googleapis.com/sanxiajci/sanxiajci/%E6%96%B0%E5%8C%97%E5%A5%BD%E6%92%9E%E6%92%9E.JPG') center center;" id="works">
    <div class="container">
        <div class="row justify-content-center py-5 my-md-5">
            <div class="col-md-10 col-12">
                <div class="title-heading text-center">
                    <a href="work-detail-2.html" class="h2 fw-bold text-white">北區好撞撞</a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->

@* <section class="bg-half-260" data-jarallax='{"speed": 0.4}' style="background: url('/images/sanxiajci/舞動國際.jpg') center center;"> *@
<section class="bg-half-260" data-jarallax='{"speed": 0.4}' style="background: url('https://storage.googleapis.com/sanxiajci/sanxiajci/%E8%88%9E%E5%8B%95%E5%9C%8B%E9%9A%9B.jpg') center center;">
    <div class="container">
        <div class="row justify-content-center py-5 my-md-5">
            <div class="col-md-10 col-12">
                <div class="title-heading text-center">
                    <a href="work-detail-2.html" class="h2 fw-bold text-white">舞動國際</a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->

@* <section class="bg-half-260" data-jarallax='{"speed": 0.4}' style="background: url('/images/sanxiajci/三峽大家庭.jpg') center center;"> *@
<section class="bg-half-260" data-jarallax='{"speed": 0.4}' style="background: url('https://storage.googleapis.com/sanxiajci/sanxiajci/%E4%B8%89%E5%B3%BD%E5%A4%A7%E5%AE%B6%E5%BA%AD.jpg') center center;">
    <div class="container">
        <div class="row justify-content-center py-5 my-md-5">
            <div class="col-md-10 col-12">
                <div class="title-heading text-center">
                    <a href="work-detail-2.html" class="h2 fw-bold text-white">家庭，事業，青商</a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->

@* <section class="bg-half-260" data-jarallax='{"speed": 0.4}' style="background: url('/images/sanxiajci/聯合月例會暨烤肉大會.jpg') center center;"> *@
<section class="bg-half-260" data-jarallax='{"speed": 0.4}' style="background: url('https://storage.googleapis.com/sanxiajci/sanxiajci/%E8%81%AF%E5%90%88%E6%9C%88%E4%BE%8B%E6%9C%83%E6%9A%A8%E7%83%A4%E8%82%89%E5%A4%A7%E6%9C%83.jpg') center center;">
    <div class="container">
        <div class="row justify-content-center py-5 my-md-5">
            <div class="col-md-10 col-12">
                <div class="title-heading text-center">
                    <a href="work-detail-2.html" class="h2 fw-bold text-white">聯合月例會暨烤肉大會</a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->

@* <section class="bg-half-260" data-jarallax='{"speed": 0.4}' style="background: url('/images/sanxiajci/愛心公益，寒冬送暖.jpg') center center;"> *@
<section class="bg-half-260" data-jarallax='{"speed": 0.4}' style="background: url('https://storage.googleapis.com/sanxiajci/sanxiajci/%E6%84%9B%E5%BF%83%E5%85%AC%E7%9B%8A%EF%BC%8C%E5%AF%92%E5%86%AC%E9%80%81%E6%9A%96.jpg') center center;">
    <div class="container">
        <div class="row justify-content-center py-5 my-md-5">
            <div class="col-md-10 col-12">
                <div class="title-heading text-center">
                    <a href="work-detail-2.html" class="h2 fw-bold text-white">愛心公益，寒冬送暖</a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Portfolio End -->
<!-- CTA Start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2>我們正在尋找下一位改變世界的你！</h2>
                <p class="text-muted mx-auto mt-4 para-desc">若您對服務社會、學習領導或人脈拓展有興趣，歡迎加入我們的行列，與志同道合的夥伴一起前進。</p>
                <div class="watch-video mt-4 pt-2">
                    <a asp-controller="Home" asp-action="Contact" class="btn btn-primary me-2 mb-1"><i class="mdi mdi-phone"></i> 立即報名</a>
                    @* <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="lightbox video-play-icon watch text-dark"><i class="mdi mdi-play play-icon-circle text-center d-inline-block me-2 rounded-pill text-white title-dark position-relative play play-iconbar bg-primary"></i> Watch now !</a> *@
                    <a href="#!" data-type="youtube" data-id="gLgOnNy7TSs" class="lightbox video-play-icon watch text-dark"><i class="mdi mdi-play play-icon-circle text-center d-inline-block me-2 rounded-pill text-white title-dark position-relative play play-iconbar bg-primary"></i> 韓國參訪</a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- CTA End -->
@section scripts {
    <!-- Parallax -->
    <script src="~/js/jarallax.js"></script>
    <script src="~/js/tobii.min.js"></script>
}