
.container {
    text-align: center;
}

.emoji {
    font-size: 100px;
    animation: float 2s ease-in-out infinite;
}

.title {
    font-size: 28px;
    color: #444;
    margin: 10px 0;
}

.message {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.home-button {
    padding: 10px 20px;
    background-color: #FF8FC3;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .home-button:hover {
        background-color: #e677b0;
    }

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 768px) {
    .hero-background {
        background-position: left top;
    }
}