//
// work.scss
//
.portfolioFilter {
    span {
        transition: all 0.4s ease-in-out;
        line-height: 30px;
        font-weight: 500;
        &:hover, &.active {
            color: $primary !important;
            cursor: pointer;
        }
    }
}

.portfolio-box {
    .portfolio-box-img {
        img {
            transition: all 0.5s ease;
        }
        .overlay-work {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0; 
            transition: all 0.5s ease;
            background-color: rgba($white, 0.7);
            .work-content {
                position: absolute;
                bottom: 50%;
                transform: translateY(50%);
                right: 0;
                left: 0;
                .work-icon {
                    height: 45px;
                    width: 45px;
                    display: inline-flex !important;
                    justify-content: center;
                    align-items: center;
                    transform: translateY(40px);
                    transition: all 0.5s ease;
                    &:hover {
                        background: $primary !important;
                    }
                }
                .work-style-three {
                    transform: translateY(-100%);
                    transition: all 0.5s ease;
                    .title {
                        transition: all 0.5s ease;
                        &:hover {
                            color: $primary !important;
                        }
                    }
                }
            }
        }
    }
    .gallary-title {
        .title {
            font-size: 18px;
            transition: all 0.5s ease;
            &:hover {
                color: $primary !important;
            }
        }   
    }
    &:hover {
        .portfolio-box-img{
            img {
                transform: rotate(2deg) scale(1.15);
                opacity: 0.5;
            }
            .overlay-work {
                opacity: 1;
                transform: scale(1);
                .work-content {
                    .work-icon, .work-style-three { 
                        transform: translateY(0px);
                    }
                }
            }
        }
    }
}

.spacing{
    padding-left: 5px;
    padding-right: 5px;
}

//Tobii Lighbox
.tobii__btn svg {
    height: 30px;
    width: auto;
}
.tobii__counter {
    font-size: 16px;
}
.tobii-zoom {
    display: block !important;
}

.tobii-zoom__icon {
    display: none;
}

#grid {
    padding: 0 !important;
}


.portfolio{
    .port-img {
        transition: .5s;
    }

    &.portfolio-modern {
        .content{
            .tag{
                opacity: 0;
                color: $white;
            }
            .title{
                opacity: 0;
                color: $white ;

                &:hover{
                    transition: all .5s;
                    color: $primary !important;
                }
            }
        }

        .overlay-work{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: all 0.5s ease !important;
        }

        .work-icon {
            i {
                width: 40px;
                height: 40px;
                background-color: $white;
                color: $primary;
                border-radius: 50%;
                opacity: 0;
                transform: scale(0);
                transition: all .5s;
                font-size: 19px;

                &:hover{
                    transition: all .5s;
                    background-color: $primary;
                    color: $white !important;
                }

                &::before{
                    padding: 7px 10px;
                }
            }
        }

        &:hover{
            .content{
                transition-duration: 0.7s;
                .tag{
                    opacity: 1;

                }
                .title{
                    opacity: 1;
                }
            }

            .overlay-work{
                backdrop-filter: blur(5px);
                background-color: rgba($black, 0.3);
            }

            .work-icon{
                i{
                    transform: scale(1);
                    transition-delay: .2s;
                    opacity: 1;
                }
            }
        }

    } 
    
    &.portfolio-grid{

        .port-img{
            transition: all 0.5s ease-in-out;
        }

        .overlay-work{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            transform: scale(0);
            transition: all .5s;
        }

        .content {
            transition: all 0.3s ease-in-out;
    
            .title {
                color: $dark ;
                opacity: 0;
                transition: all 0.3s ease-out;
    
                &:hover {
                    color: $primary !important;
                    cursor: pointer;
                }
            }
        }

        &:hover {

            .overlay-work{ 
                background-color: #fff;
                transform: scale(1);
                border-radius: 5px;
                margin: 15px;
                opacity: 1;
    
            }
            .port-img{
                transform: scale(1.2) rotate(-5deg);
            }
            .content {
                
                .title {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }   
    
    &.portfolio-classic{
        .port-img{
            transition: all 0.5s ease-in-out;
        }

        .overlay-work{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: all .5s;
        }

        .content {
            transition: all 0.3s ease-in-out;
            transform: translateY(30px);
    
            .title {
                
                opacity: 0;
                transition: all 0.3s ease-out;
    
                &:hover {
                    color: $primary !important;
                    cursor: pointer;
                }
            }
        }

        &:hover {

            .overlay-work{ 
                opacity: 1;
            }
            .content {
                
                opacity: 1;
                transform: translateX(0);
    
                .title {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

    }
}


//video iframe
@media (max-width: 640px) {
    [data-type] iframe, [data-type] video {
        width: 500px;
        height: 300px;
    }
}
@media (max-width: 425px) {
    [data-type] iframe, [data-type] video {
        width: 360px;
        height: 260px;
    }
}
@media (max-width: 375px) {
    [data-type] iframe, [data-type] video {
        width: 100%;
        height: auto;
    }
}