@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<footer class="footer bg-footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <a href="#"><img src="~/images/logo-dark.png" height="90" alt="Logo"></a>
                <p class="para-desc mx-auto copy-rights mt-4">在全球百餘個國家中，國際青年商會（JCI）串聯超過十萬名青年菁英，致力於推動正向改變。我們深信，每一位青年都有潛力改變社會，透過培訓、公益與領導實踐，將理念化為行動。從在地社區到全球議題，青商持續影響世界，讓青年不只是夢想家，更是行動者。現在，邀請你一起加入這場改變世界的旅程。</p>
                <ul class="list-unstyled mb-0 mt-4 social-icon social">
                    <li class="list-inline-item"><a href="https://www.facebook.com/SanxiaJCI/?locale=zh_TW" target="_blank"><i class="mdi mdi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/sanxia_jci/" target="_blank"><i class="mdi mdi-instagram"></i></a></li>
                </ul>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
<footer class="footer footer-bar bg-footer py-4">
    <div class="container text-center">
        <p class="mb-0 copy-rights"><script>document.write(new Date().getFullYear())</script> © 三峽國際青年商會官方網站. Design with <i class="mdi mdi-heart text-danger"></i> by <a href="#" target="_blank" class="text-reset">星繫系統科技有限公司</a>.</p>
    </div><!--end container-->
</footer><!--end footer-->